.visual {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
  }